@{
    ViewData["Title"] = "Groups";
}

<div class="text-center">

    <h3 class="display-4">
        @($"List of groups of course {Model[0].CourseId}:")
    </h3>

    <table>
        <tr>
            <td><p>Group Id</p></td>
            <td><p>Group name</p></td>
        </tr>
        @foreach (var group in Model)
        {
            <tr>
                <td><p>@group.GroupId</p></td>
                <td><p><a href="/Home/GetStudentsByGroup?groupId=@group.GroupId">@group.Name</a></p></td>
            </tr>
        }
    </table>
</div>