@{
    ViewData["Title"] = "Groups";
}

<div class="text-center">

    <h3 class="display-4">
        @($"List of groups of {Model.ToArray()} course:")
    </h3>

    <table>
        <tr>
            <td><p>Group Id</p></td>
            <td><p>Group name</p></td>
        </tr>
        @foreach (var group in Model)
        {
            <tr>
                <td><p>@group.GroupId</p></td>
                <td><p>@group.Name</p></td>
            </tr>
        }
    </table>
</div>