@{
    ViewData["Title"] = "Students";
}

<div class="text-center">
    <h3 class="display-4">List of students of OnionUniversity:</h3>
    <table>
        <tr>
            <td><p>Student first name</p></td>
            <td><p>Student last name</p></td>
            <td><p>Student group</p></td>
        </tr>
        @foreach (var student in ViewBag.Students)
            {
                <tr>
                    <td><p>@student.FirstName</p></td>
                    <td><p>@student.LastName</p></td>
                    <td><p>@student.GroupId</p></td>
                </tr>
            }
    </table>
</div>
